@import "variables.scss";

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin adaptive-width($width) {
  max-width: $width;
  width: 100%;
}

@mixin bg-img($url, $height) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: $height;
  width: 100%;
  height: $height;
}

body {
  font-family: "Poppins", sans-serif;
  height: 3000px;
}
.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: $header-high;
  top: 0;
  z-index: 100;

  &__container {
    height: $header-high;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  margin: 0 auto;
  max-width: 1265px;
  width: 100%;
}
.nav-list {
  display: flex;
  gap: 70px;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    @include center;
    height: 30px;
    width: 30px;
    color: #fff;
    background-color: #121212;
    border-radius: 50%;
  }
}
.nav {
  display: flex;
  gap: 60px;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #21383e;
  }
}

.auth {
  display: flex;
  height: 100%;

  &__link {
    display: flex;
    align-items: center;
    padding: 0 60px;
    height: 100%;
    text-decoration: none;
    color: #553c16;

    &:nth-child(2) {
      background-color: bisque;
      border-bottom-left-radius: 50px;
    }
  }
}

/* email */

.email-register {
  position: absolute;
  display: flex;
  justify-content: space-between;
  @include adaptive-width(682px);
  background-color: rgb(255, 255, 255);
  padding: 28px 28px 28px 40px;
  box-shadow: 0 0 10px #a259ff;
  border-radius: 10px;
  bottom: -90px;
  left: 200px;

  &__title {
    color: #7d8186;
    font-size: 13px;
    margin-bottom: 10px;
  }
  &__field {
    font-size: 23px;
    color: black;
    font-weight: 500;
  }
  &__button::after {
    background-image: url(../images/headphone.png);
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 22px 64px;
  border-radius: 10px;
  background-color: #725ba1;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;

  &::after {
    content: "";
    background-size: cover;
    height: 20px;
    width: 20px;
    transition: 0.15s;
  }
  &:hover {
    background-color: #f0c9e4;
  }
  &:active {
    background-color: #513c7c;
    transform: scale(0.85);
    box-shadow: 0 0 10px #a259ff;
  }
  &:hover::after {
    transform: translateX(10px);
  }
}

.connect {
  margin-top: $header-high;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    // padding-left: 130px;
    gap: 30px;
  }

  &__button {
    background-color: aqua;
    &::after {
      background-image: url(../images/headphone.png);
    }
  }
  &__content {
    max-width: 550px;
  }

  &__title {
    margin-bottom: 34px;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
  }
  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  &__img {
    @include bg-img("../images/9.png", 390px);
    margin-right: 328px;
  }

  &__sub {
    display: flex;
    flex-direction: column;
  }
  &__n {
    @include bg-img("../images/41.png", 502px);
  }

  &__c {
    @include bg-img("../images/42.png", 328px);
  }
}

.burger {
  display: none;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 2;
  }
  &__line {
    height: 5px;
    background: black;
    border-radius: 5px;
    margin: 3px 0px;
    transform-origin: left;
    transition: all 0.5s;
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    transform: translateX(-310px);
    box-shadow: 0 0 10px #121212;
  }
  &__link {
    padding: 30px 10px;
    &:hover {
      background-color: #21383e;
    }
  }
  &__checkbox:checked ~ &__box &__line {
    background-color: red;

    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
  }
  &__checkbox:checked ~ &__menu {
    transform: translateX(0);
  }
}

.chat {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  &__title {
    color: #121212;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 124% */
    letter-spacing: -0.5px;
  }
  &__text {
    color: #404852;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    letter-spacing: 0.346px;
  }
  &__line {
    display: flex;
    width: 121px;
    height: 1px;
    background-color: black;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    gap: 30px;
  }
  &__name {
    display: flex;
    gap: 5px;
    &::before {
      content: "";
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/Rectangle.png);
    }
  }
  &__name0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name1 {
    color: #273240;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 100% */
    letter-spacing: 0.3px;
  }
  &__name2 {
    color: #2c3a4b;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 0.5px;
  }
}
.pic {
  display: flex;
  width: 600px;
  &__text {
    padding: 15px;
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.3px;
  }
}
.picture {
  &__top {
    justify-content: end;
  }
  &__bottom {
    justify-content: start;
  }
  &__1girl {
    position: relative;
    background-image: url(../images/71.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 380px;
  }
  &__2girl {
    position: relative;
    background-image: url(../images/72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
    height: 380px;
  }
  &__1text {
    position: absolute;
    left: -200px;
    top: 150px;
    width: 234px;
    height: auto;
    border-bottom-left-radius: 10px;
    background-color: #7d6353;
  }
  &__2text {
    position: absolute;
    display: flex;
    left: 270px;
    top: 120px;
    flex-direction: column;
    gap: 20px;

    &__1 {
      background-color: #726985;
      width: 150px;
      border-radius: 10px;
    }
    &__2 {
      background-color: #726985;
      width: 250px;
      border-bottom-right-radius: 10px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .header__container {
    padding-left: $padding-screen;
  }
  .connect__container {
    padding: 0 $padding-screen;
  }
}

@media screen and (max-width: 1024px) {
  .logo__text {
    display: none;
  }
  .nav {
    gap: 10px;
    &-list {
      gap: 20px;
    }
  }
  .auth__link {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .connect {
    &__title {
      font-size: 40px;
      line-height: 40px;
    }

    &__container {
      gap: 15px;
    }
    &__img {
      display: none;
    }
  }

  .email-register {
    bottom: -150px;
  }
}
@media screen and (max-width: 550px) {
  .burger {
    display: block;
  }
  .nav-list {
    display: none;
  }
}
